.main {
  display: inline-flex;
  align-items: center;
  background-color: #1f1f38;
  background: repeating-linear-gradient(
    90deg,
    #1f1f38,
    #1f1f38 5px,
    #1f1f30 5px,
    #1f1f30 10px
  );
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bgspan {
  font-family: poppins;
  position: fixed;
  font-weight: 700;
  top: -3%;
  left: 35%;
  font-size: 150px;
  opacity: 0.2;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
  width: 40%;
  margin: 30px;
  margin-left: 60px;
  height: 70%;
  border: 3px solid white;
  animation-duration: 2.5s;
  animation-name: content-animation;
  background-color: #9797dd;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

.imagediv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.image {
  height: 300px;
  width: 300px;
  animation-name: image-travel;
  animation-duration: 1s;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px skyblue;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

.para {
  font-size: 26px;
  font-weight: 600;
  color: white;
  font-family: Montserrat;
  font-style: italic;
  animation-name: text-animation;
  animation-duration: 2.75s;
}

@keyframes image-travel {
  from {
    rotate: 0deg;
    margin-right: 50vw;
    margin-top: 150px;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-animation {
  0% {
    height: 0%;
    border-top: 0px;
    border-bottom: 0px;
    background: none;
  }
  20% {
    height: 0%;
    border-top: 0px;
    border-bottom: 0px;
  }
  46% {
    height: 75%;
    border-top: 0px;
    border-bottom: 0px;
  }
  72% {
    height: 75%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    background: none;
  }
  100% {
    height: 70%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
  }
}
