.main {
  display: inline-flex;
  align-items: center;
  background-color: #000000;
  background: repeating-linear-gradient(
    90deg,
    #000000,
    #000000 5px,
    #1B1212 5px,
    #1B1212 10px
  );
  color: #8eff35;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  padding-left: 20px;
  z-index: 20;
  animation-name: text-animation;
  animation-duration: 2.75s;
}

.icon1 {
  /* margin-bottom: 10px; */
  animation-name: iconappear;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1.5);
  height: 50px;
  width: 50px;

  &:hover {
    transform: scale(1.08);
  }
}

.icon2 {
  /* margin-bottom: 10px; */
  animation-name: iconappear;
  animation-duration: 1.1s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1.5);
  height: 50px;
  width: 50px;

  &:hover {
    transform: scale(1.08);
  }
}

.icon3 {
  /* margin-bottom: 10px; */
  animation-name: iconappear;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1.5);
  height: 50px;
  width: 50px;

  &:hover {
    transform: scale(1.08);
  }
}

.icon4 {
  /* margin-bottom: 10px; */
  animation-name: iconappear;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1.5);
  height: 50px;
  width: 50px;

  &:hover {
    transform: scale(1.08);
  }
}

.bgspan {
  font-family: poppins;
  position: fixed;
  font-weight: 700;
  top: 4%;
  right: 10%;
  font-size: 150px;
  color: rgb(142, 255, 53, 0.3);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 40%;
  margin: 30px;
  margin-left: 60px;
  border: 3px solid rgb(142, 255, 53, 1);
  animation-duration: 2.5s;
  animation-name: content-animation;
  background-color: rgb(142, 255, 53, 0.2);
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

.imagediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.button {
  border-radius: 8px;
  padding: 10px;
  background-color:  rgb(142, 255, 53, 1);
  border: 1px solid #8eff35;
  margin-top: 20px;
  color: black;
  font-weight: 600;
  width: 40%;
  font-size: 14px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  animation-name: text-animation;
  animation-duration: 2.75s;
}

.image {
  height: 300px;
  width: 300px;
  animation-name: image-travel;
  animation-duration: 1s;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px rgb(142, 255, 53, 1);
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
  margin-bottom: 60px;
}

.para {
  font-size: 27px;
  font-weight: 600;
  color: white;
  font-family: Montserrat;
  font-style: italic;
  animation-name: text-animation;
  animation-duration: 2.75s;
  padding: 0px;
}

.back {
  position: fixed;
  top: 3%;
  left: 2%;
  z-index: 30;
}

@keyframes image-travel {
  from {
    rotate: 0deg;
    margin-right: 50vw;
    margin-top: 150px;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-animation {
  0% {
    transform: scaleY(0);
    border-top: 0px;
    border-bottom: 0px;
    background: none;
  }
  20% {
    transform: scaleY(0);
    border-top: 0px;
    border-bottom: 0px;
  }
  46% {
    transform: scaleY(1.1);
    border-top: 0px;
    border-bottom: 0px;
  }
  72% {
    transform: scaleY(1.1);
    border-top: 4px solid rgb(142, 255, 53, 1);
    border-bottom: 4px solid rgb(142, 255, 53, 1);
    background: none;
  }
  100% {
    transform: scaleY(1);
    border-top: 4px solid rgb(142, 255, 53, 1);
    border-bottom: 4px solid rgb(142, 255, 53, 1);
  }
}

@media screen and (max-width: 960px) {
  .main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .bgspan {
    font-size: 120px;
    left: 5%;
    top: -3%;
  }

  .content {
    width: 90%;
    height: 90%;
    margin: 60px 0px;
    padding: 0px;
    justify-content: space-evenly;
  }

  .para {
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .image {
    height: 280px;
    width: 280px;
    margin-bottom: 20px;
    animation-duration: 2.5s;
  }

  .social {
    padding: 0px 10px;
  }

  .icon1 {
    width: 36px;
    height: 36px;
  }

  .icon2 {
    width: 36px;
    height: 36px;
  }

  .icon3 {
    width: 36px;
    height: 36px;
  }

  .icon4 {
    width: 36px;
    height: 36px;
  }

  .button {
    width: 50%
  }

  @keyframes image-travel {
    0% {
      opacity: 0;
    }
    72% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes content-animation {
    0% {
      transform: scale(0.1, 0);
      border-top: 0px;
      border-bottom: 0px;
      border-left: 4px solid white;
      border-right: 4px solid white;
      background: none;
      /* display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; */
    }
    20% {
      transform: scale(0.1, 0);
      border-top: 0px;
      border-bottom: 0px;
    }
    46% {
      transform: scale(0.1, 1.1);
      border-top: 0px;
      border-bottom: 0px;
    }
    72% {
      transform: scale(1, 1.1);
      background: none;
      /* display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; */
    }
    100% {
      transform: scale(1, 1);
      border-top: 4px solid rgb(142, 255, 53, 1);
      border-bottom: 4px solid rgb(142, 255, 53, 1);
    }
  }
}
