@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
@import url("https://fonts.googleapis.com/css?family=Poppins");
.App {
  text-align: center;
  background-color: #000000;
  background: repeating-linear-gradient(
    90deg,
    #000000,
    #000000 5px,
    #1B1212 5px,
    #1B1212 10px
  );
  display: flex;
  height: 100%;
  font-weight: 600;
  font-family: Poppins;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  z-index: 20;
}

.body {
  background-color: #000000;
  background: repeating-linear-gradient(
    90deg,
    #000000,
    #000000 5px,
    #1B1212 5px,
    #1B1212 10px
  );
}
