@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
@import url("https://fonts.googleapis.com/css?family=Poppins");

.main {
  background-color: #1f1f38;
  background: repeating-linear-gradient(
    90deg,
    #1f1f38,
    #1f1f38 5px,
    #1f1f30 5px,
    #1f1f30 10px
  );
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
}

.slideshow {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
  font-family: montserrat;
  color: white;
  padding-left: 30%;
}

.particle {
  z-index: 3;
}

.title {
  display: inline-flex;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: center;
}

.content {
  font-size: 22px;
}

.hr {
  width: 280px;
  margin-bottom: 30px;
}

.bgspan {
  font-family: poppins;
  position: fixed;
  font-weight: 700;
  margin-top: 3%;
  margin-left: 65%;
  font-size: 150px;
  opacity: 0.2;
  color: white;
}

.skilldiv {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 300px;
  padding: 20px;
  background-color: #9797dd;
  border: 3px solid white;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 20px;
}

.skilldiv:hover {
  background-color: white;
  color: black;
}

.social {
  display: flex;
  height: 95vh;
  width: 7vw;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  z-index: 20;
  padding-bottom: 10%;
}

.icon1 {
  /* margin-bottom: 10px; */
  animation-name: iconappear;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1.5);
  height: 26px;
  width: 26px;

  &:hover {
    transform: scale(1.08);
  }
}

.icon2 {
  /* margin-bottom: 10px; */
  animation-name: iconappear;
  animation-duration: 1.1s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1.5);
  height: 26px;
  width: 26px;

  &:hover {
    transform: scale(1.08);
  }
}

.icon3 {
  /* margin-bottom: 10px; */
  animation-name: iconappear;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1.5);
  height: 26px;
  width: 26px;

  &:hover {
    transform: scale(1.08);
  }
}

.linesocial {
  border-left: 1px solid #4db5ff;
  width: 1px;
  height: 140px;
  animation-name: lineappear;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1.2);
}

.back {
  position: fixed;
  top: 3%;
  left: 2%;
  z-index: 30;
}

@keyframes iconappear {
  from {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  to {
    height: 26px;
    width: 26px;
    opacity: 1;
  }
}

@keyframes lineappear {
  from {
    height: 0px;
  }
  to {
    height: 140px;
  }
}

@media screen and (max-width: 960px) {
  .bgspan {
    margin-left: 10%;
    font-size: 100px;
  }

  .skilldiv {
    height: 280px;
  }

  .hr {
    width: 240px;
  }

  .slideshow {
    padding-left: 3%;
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}
